// Breakpoints
$media-xl: 1199px;
$media-lg: 991px;
$media-md: 767px;
$media-sm: 575px;
$media-xs: 480px;
// Colors
$color-primary-light: #fff;
$color-primary-dark: #303030;
$color-secondary-light: #fdc819;
// Fonts
$font-primary: 'Montserrat', sans-serif;
